.shopping-icon {
  display: block;
  position: relative;
  margin-right: 100px;
  margin-top: 10px;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 100;
  justify-content: end;
  justify-self: flex-end;
}
