p {
  display: block;
  font-family: Cormorant;
  font-weight: 300;
  font-size: 14px;
}

.link {
  margin-top: 10px;
  font-family: Cormorant;
}

.title {
  margin-top: 5px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  font-family: Cormorant;
}

.thumbnail {
  height: 210px;
  width: 235px;
  border-radius: 5px;
  /* border: 2px solid rgb(171, 163, 177); */
  z-index: 20;

  background-image: url("/public/images/stickers.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 960px) {
  .thumbnail {
    height: 200px;
    width: 250px;
  }
}
